# Editor
.idea
.vscode

# Node.js
node_modules
yarn.lock
yarn-error.log

# Configs
configs
tsconfig.json
tsconfig.*.json

# Sources
src

# Build
lib
*.tgz

# Tests
jest.config.js
coverage
**/*.spec.ts

# ESLint
.eslintrc.js
.eslintcache
